<h2>Our Pizzas:</h2>

<div wp-debug class="col-md-4">
    <div ng-repeat="pizza in pizzas">
        <h3>{{ pizza.name }}</h3>
        <strong>Toppings:</strong>
        <div>
            <span ng-repeat="ingredient in pizza.ingredients">
                <a data-ng-href="#/menu/ingredient/{{ ingredient }}">{{ ingredient }}</a>{{$last ? '' : ', '}}
            </span>
        </div>

        <div>
            <strong>Price:</strong>
            <span>{{ pizza.price | currency}}</span>
        </div>
    </div>
</div>
<div class="col-md-6" data-ui-view></div>