<h1>Welcome!</h1>

<p>
    <a data-ui-sref="walt">Walt</a> makes the best pizza.
</p>

<div data-ui-view></div>

<div ng-controller="OpinionController">
    <label for="opinions" class="col-md-2 col-feedback">Opinions?:</label>
    <input id="opinions" ng-model="customerFeedback"/>
    <button ng-click="handleFeedback(customerFeedback)">Submit</button>
</div>
<div ng-controller="JudgementController">
    <label for="judgements" class="col-md-2 col-feedback">Judgements?:</label>
    <input id="judgements" ng-model="customerFeedback"/>
</div>
<div ng-controller="BeliefController">
    <label for="beliefs" class="col-md-2 col-feedback">Beliefs?:</label>
    <input id="beliefs" ng-model="customerFeedback"/>
</div>