<h2>{{ waltsHistoryService.title }}</h2>
<p>
    {{ waltsHistoryService.summary }}
</p>

<h3>Walt knew he had hit the big time when he
    <span ng-repeat="event in lifeEvents">
        {{ event }}{{$last ? '.' : ' and '}}
    </span>
</h3>


<div class="container-life-event">
    <div class="col-md-4 col-life-event">
        <strong>Walt's Life Events:</strong>
        <ul>
            <li ng-repeat="event in lifeEvents">
                {{ event }}
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-life-event">
        <strong>Walt's Month Events:</strong>
        <ul ng-controller="MonthEventsController">
            <li ng-repeat="event in lifeEvents">
                {{ event }}
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-life-event">
        <strong>Walt's Day Events:</strong>
        <ul ng-controller="DayEventsController">
            <li ng-repeat="event in lifeEvents">
                {{ event }}
            </li>
        </ul>
    </div>
</div>


<div>
    <span class="col-md-12">
        <strong>Walt's Life Events:</strong>
        <ul>
            <li ng-repeat="event in lifeEvents">
                {{ event }}
            </li>
        </ul>
        <span ng-controller="MonthEventsController" class="text-info">
        <strong>Walt's Month Events:</strong>
            <ul>
                <li ng-repeat="event in lifeEvents">
                    {{ event }}
                </li>
            </ul>
            <span ng-controller="DayEventsController" class="text-primary">
                <strong>Walt's Day Events:</strong>
                <ul>
                    <li ng-repeat="event in lifeEvents">
                        {{ event }}
                    </li>
                </ul>
            </span>
        </span>
    </span>
</div>