<h2>Walt's Merit</h2>
<p>
    When Walter was a graduate student of chemistry at the California Institute of Technology,
    he conducted research on proton radiography that helped a team win a Nobel Prize in Chemistry.
    After graduate school, Walter founded the firm Gray Matter Technologies with Elliott Schwartz,
    his former classmate and close friend. Around this time, Walter dated his lab assistant, Gretchen.
    However, he abruptly left both Gretchen and Gray Matter Technologies, selling his financial interest
    in the company for $5,000. Gretchen and Elliott later married and made a fortune, much of it from
    Walter's research. Walter secretly harbors great animosity about this.
</p>